.igbackground{
	background-color: papayawhip;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.igbackground1{
	background-color: rgb(220, 255, 213);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

.buttonback{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}